body{
    background-image: url(./pic2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 630px;
    margin: 0;
    padding: 0;
}
.container{
    margin: 20px auto;
    width: 800px;
    height: fit-content;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 10px ;
    box-shadow: 5px 10px 18px #888888;
    background: #fff;
}
